
#label {
    font-family:'Rounded_Elegance';
}

.badge {
	background:#3399cc;
}

#th {
    font-family:'Baumans-Regular';
}

#dt {
    font-family:'Baumans-Regular';
}
#send_msg {
    font-family:'Baumans-Regular';
}